In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.DataFrame({
    "feature1": [1,2,3,4,5,6],
    "feature2": [10,12,9,15,11,14],
    "target": [0,1,0,1,0,1],
})
df.head()

   feature1  feature2  target
0         1        10       0
1         2        12       1
2         3         9       0
3         4        15       1
4         5        11       0

In [2]:
df.isna().mean()
df.duplicated().sum()
df[df["feature1"] < 0]

Empty DataFrame
Columns: [feature1, feature2, target]
Index: []